.game
  width: 100%
  padding: 24px

  .player-grid,
  .opponent-grid
    display: grid
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px

  .player-grid
    .cell
      text-align: center
      padding: 15px 0

    .status1
      background-color: #0000ff
      color: #fff
    .status3
      background-color: #a9a9a9
      color: #fff
